@page {
    size: A4;
    margin-top: 25mm;
    margin-bottom: 25mm;
    @bottom-left {content: element(footer);}
    @bottom-right {content: counter(page) "/" counter(pages);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;}
    @top-left { content: element(header); }
}

header {
    position: running(header);
}

footer{
    position: running(footer);
}

body {
    font-family: 'Rubik', sans-serif;
        font-weight: 100;
        font-size: 13px;
        line-height: 19px;
}

table {
   -fs-table-paginate: paginate;
}

div.footer {
    display: block;
    position: running(footer);
}

.itemend {
  float: right;
    width: 200px;
}

.object_table {
    width: 100%;
}

.object_table_item {
    width: 100%;
}

.image_barcode {
    height: 30px;
}

.object_table_tr {
    height: 150px;
    font-size: 18px;
    font-weight: 100;
}

.object_table th {
    background-color: rgb(255, 255, 255);
    color: rgb(74, 77, 82);
    font-weight: 100;
    font-size: 13px;
}

.object_table td {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}

.logo {
    width: 140px;
}

.line {
    border-bottom: 1px solid black;
}

.image_barcode_batch {
    height: 30px;
    width: 150px;
}

.oneline {
 width: 20%;
 padding-top: 5px;
 padding-bottom: 5px;
 display: inline-block;
 word-wrap: break-word;
 vertical-align: top;
}

.object_table_batch {
    width: 100%;
}

.object_table_batch th {
    background-color: rgb(255, 255, 255);
    color: rgb(74, 77, 82);
    font-weight: 100;
    width:33%
    border: solid black 1px;
}

.object_table_batch td {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    width: 75px;
    vertical-align: top;
    border: solid black 1px;
}

.object_table_data {
    width: 60%;
}

.object_table_data th {
    background-color: rgb(255, 255, 255);
    color: rgb(74, 77, 82);
    font-weight: 100;
}

.object_table_data td {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    vertical-align: top;
    word-wrap: break-word;
}

